<!doctype html>
<html lang="en" class="page-{{ page.fileSlug }}">
  {% render 'head.liquid' %}
  <body class="layout">
    {{ content }}
    {% for script in scripts %}
      <script defer src="{{ script }}"></script>
    {% endfor %}
  </body>
</html>
