@import './typography.css';
@import '../../_includes/divider.css';
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
:root {
	--color-gold: rgb(255, 222, 170);
}
body {
	line-height: 1.5;
	font-family: Garamond, 'Palatino', Georgia, serif;
	padding: 2rem;
	background-color: #1f2f2f;
	background-image: url('../media/green-fibers.webp');
	color: #fff;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-height: 100dvh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

video,
img,
svg {
	display: block;
	width: 100%;
	height: auto;
}

.home-frame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	max-width: 48rem;
	margin: 0 auto;
}

.home-frame .logo {
	width: 100%;
	max-width: 36rem;
	margin-bottom: 2rem;
	color: var(--color-gold);
}

.link-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}
a.fancy-link {
	display: flex;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	gap: 0.2em;
}
.fancy-link svg {
	width: 0.65rem;
	opacity: 0.5;
	transform: translateY(-0.1em);
}

.fancy-link:hover svg {
	opacity: 1;
	color: var(--color-gold);
}

.page {
	color: #2a2d37;
	padding: 2rem max(1rem, 5vw);
	background-color: #fff9e5;
	background-image: url(assets/beige-paper.png);
}

.page header svg {
	width: 20rem;
	margin: 0 auto;
}

.page header {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}
