@import './typography.css';
@import '../../_includes/divider.css';
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
:root {
	--color-gold: rgb(255, 222, 170);
	--color-link-default: #065186;
	--color-link-hover: #00375e;
	font-size: clamp(1rem, 0.559rem + 1.961vw, 1.5rem);
}
body {
	line-height: 1.5;
	/*font-family: Garamond, 'Palatino', Georgia, serif;*/
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 2rem max(1rem, 5vw);
	background-color: #1f2f2f;
	background-image: url('../media/green-fibers.webp');
	color: #fff;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-height: 100dvh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

video,
img,
svg {
	display: block;
	width: 100%;
	height: auto;
}

.home-frame {
	--color-link-default: #fff;
	--color-link-hover: #fff;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 48rem;
	margin: 0 auto;
}
@media (min-width: 640px) {
	.home-frame {
		flex-direction: row;
	}
	.home-frame .divider {
		width: 1rem;
		flex-direction: column;
	}
	.home-frame .divider .bar {
		height: 100%;
		width: 0.1rem;
	}
}

.home-frame header {
	width: 100%;
	max-width: 24rem;
	--color-accent: var(--color-gold);
}

.home-frame header svg {
	margin-bottom: 2rem;
	max-width: 14rem;
}

.link-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.link-list a:hover {
	text-decoration: none;
}
.link-title {
	display: flex;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: 800;
	gap: 0.2em;
	white-space: nowrap;
}
.link-title svg {
	width: 0.65rem;
	opacity: 0.5;
	flex-shrink: 0;
}
.link-content {
	font-size: 0.9em;
	margin-left: 1rem;
}

.fancy-link:hover svg {
	opacity: 1;
	color: var(--color-gold);
}
.logo-link {
	color: #2a2d37;
}
.page {
	color: #2a2d37;
	--color-accent: currentColor;
	padding: 2rem max(1rem, 5vw);
	background-color: #fffaf0;
	background-image: url(../media/beige-paper.png);
}

.page header svg {
	width: 10rem;
}

.page header {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}
